#
# awsimple requirements
hashy
ismain
boto3
typeguard
dictim
#
# packaging
twine
wheel
#
# testing
pytest
moto
# moto apparently requires docker
docker
coverage
pytest-cov
pillow
#
# formatting and linting
black
flake8
#
# documentation
sphinx
