#
# awsimple requirements
hashy
boto3
typeguard
dictim
appdirs
tobool
urllib3
python-dateutil
#
# examples
ismain
#
# packaging
twine
wheel
#
# testing
pytest
moto
# moto apparently requires docker
docker
coverage
pytest-cov
pytest-pycharm
pillow
requests
#
# formatting and linting
black
flake8
mypy
boto3-stubs[s3,dynamodb,sqs,sns]
appdirs-stubs
types-urllib3
types-Pillow
types-python-dateutil
#
# documentation
sphinx
